$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


$faculty-list: (
  ('J', #3b426b, #eee),
  ('A', #0a529c, #eee),
  ('D', #c81d26, #eee),
  ('H', #8f1f24, #eee),
  ('G', #6ab042, #eee),
  ('E', #dc6022, #eee),
  ('U', #3bb19d, #eee),
  ('F', #078d47, #eee),
  ('Z', #eaae26, #eee),
  ('B', #0978af, #eee),
  ('C', #c3c3b7, #333),
  ('I', #e1ebe1, #333),
  ('AB', #e1ebe1, #333),
  ('AD', #e1ebe1, #333),
  ('AC', #e1ebe1, #333),
  ('ZZ', #e1ebe1, #333));

@mixin faculty-bg($color) {
  background: $color;
  background: linear-gradient(45deg, $color 0%, lighten($color, 25) 100%);
}

// colore di background delle facoltà
@each $faculty in $faculty-list {
  $name: nth($faculty, 1);
  $bg: nth($faculty, 2);
  $fg: nth($faculty, 3);
  .arl-faculty-#{$name}-bg {
    @include faculty-bg($bg);
    color: $fg;
  }
  
}

// colore del bordo delle facoltà
@each $faculty in $faculty-list {
  $name: nth($faculty, 1);
  $value: nth($faculty, 2);
  .arl-faculty-#{$name}-brd-l {
    border-left: 32px solid $value;  
  }
}

.arl-faculty {
  width: 32px;
  height: 32px;
  display: block;
  float: left; 
  margin-right: 5px;
  border-radius: 4px;

}
   


.arl-teacher-list {
  display: inline;
  list-type: none;
  padding: 0;

  > li {
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
    display: inline;
  }
}
