$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$font-family-sans-serif: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 12px;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* ALE: BUT WHY? */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  //border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    //padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.arl-hideMax {
  display: block;
}

.arl-showMax {
  display: none;
}

#menu.arl-showMax {
  display: block;
}

#menudd.arl-hideMax {
  display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  #menu.arl-showMax {
    display: none;
  }

  #menudd.arl-hideMax {
    display: block;
  }

  
}

@media screen and (min-width: 992px) {
  .arl-hideMax {
    display: none;    
  }

  .arl-showMax {
    display: block;    
  }

  #menu.arl-showMax {
    display: block;
  }

  #menudd.arl-hideMax {
    display: none;
  }

}

$color-list: (
  ('0', #b9b9b9, #f3f3f3, #fcfcfc),
  ('1', #ffa211, #fff1da, #fffbf5),
  ('2', #ff4c10, #ffd7ca, #feeded),
  ('3', #ff008b, #ffcee9, #fff0fd),
  ('4', #b21f99, #ffb8ff, #fff3ff),
  ('5', #4c1fb2, #ced0fc, #eceeff),
  ('6', #1f6bb2, #b4ecff, #e1f7ff),
  ('7', #1fb0b2, #d0f0f1, #ebfcfc),
  ('8', #21b22b, #d4fed0, #f5fef4)
);

@each $color in $color-list {
  $name: nth($color, 1);
  $dark: nth($color, 2);
  $normal: nth($color, 3);
  $light: nth($color, 4);

  .arl-scheme-#{$name}-fg {
    color: $dark;
  }

  .arl-scheme-#{$name} {
    &.arl-favorite {
      background: $light;
      .panel {
        border-color: $light;
      }
      .panel-body {
        background: $light;
        border-color: $normal;
        h4 {
          background: $normal;
          .glyphicon-asterisk {
            color: $dark;
          }
        }
      }
    }
  }

  .arl-coloreditor {
    li.arl-scheme-#{$name} {
      button {
        background: $normal;
        color: $normal;
        border-color: $dark;
      }
    }

  }

  .arl-acl {
    tr.arl-scheme-#{$name} {
      background: $light;
    }
    .arl-projects {
      li.arl-scheme-#{$name} a {
        background: $dark;
        color: #fff;
      }
    }
  }

  .arl-project {
    &.arl-scheme-#{$name} {
      background: $light;
    }
  }
}

$faculty-list: (
  ('J', #3b426b, #eee),
  ('A', #0a529c, #eee),
  ('D', #c81d26, #eee),
  ('H', #8f1f24, #eee),
  ('G', #6ab042, #eee),
  ('E', #dc6022, #eee),
  ('U', #3bb19d, #eee),
  ('F', #078d47, #eee),
  ('Z', #eaae26, #eee),
  ('B', #0978af, #eee),
  ('C', #c3c3b7, #333),
  ('I', #e1ebe1, #333),
  ('AB', #e1ebe1, #333),
  ('AD', #e1ebe1, #333),
  ('AC', #e1ebe1, #333),
  ('ZZ', #e1ebe1, #333));

@mixin faculty-bg($color) {
  background: $color;
  background: linear-gradient(45deg, $color 0%, lighten($color, 25) 100%);
}

// colori delle facoltà
@each $faculty in $faculty-list {
  $name: nth($faculty, 1);
  $bg: nth($faculty, 2);
  $fg: nth($faculty, 3);

  .arl-faculty-#{$name}-bg {
    @include faculty-bg($bg);
    color: $fg;
  }
  
  .arl-faculty-#{$name}-brd-l {
    border-left: 32px solid $bg;  
  }

  .arl-facultycode {
    &.arl-faculty-#{$name} {
      background: $bg;
      color: $fg;
    }    
  }

  .arl-dot {
    &.arl-faculty-#{$name} {
      background: $bg;
    }  
  }

}


.arl-faculty {
  width: 32px;
  height: 32px;
  display: block;
  float: left; 
  margin-right: 5px;
  border-radius: 4px;

}
   


.arl-teacher-list {
  display: inline;
  list-type: none;
  padding: 0;

  > li {
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
    display: inline;
  }
}

.arl-siteinfo {
  border-left: 10px solid #ccc;
  padding: 10px;
}

.arl-favorite {
  h4 {
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
    overflow: auto;
  }
}

@mixin arl-separator() {
  border-top: 1px solid #ddd;
  padding-top: 5px;
}

.arl-separated {
  @include arl-separator();
}

.arl-inlinedialog {
  @include arl-separator();
  span {
    padding: 4px;
    float: left;
  }
  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      float: left ;
      padding: 2px;
      list-type: none;
    }
  }
  overflow: auto;
  clear: both;
}

.arl-acl {
  .arl-projects {
    padding: 0; 
    margin: 0; 
    list-style: none;
    li a {
      padding: 0 4px;
      border-radius: 4px;
    }
  }
}

.arl-facultycode {
  padding: 0 4px;
  border-radius: 4px;
}

.arl-indent {
  padding-left: 15px;
}

.arl-dot {
  padding: 4px;
  color: #fff;
  border-radius: 50%;
}

.arl-square {
  padding: 4px;
  color: #fff;
  background: #999;
  border-radius: 20%;
  display: inline-block;
}

.arl-level2 {
  padding-left: 16px;
}

.arl-title {
  margin: 0 0 20px 0;
  font-size: 24px;

}

.arl-cell {
  display: table-cell;
  padding: 0 2px;
}
//http://cssdeck.com/labs/different-css3-box-shadows-effects

