<h3>Attività dai siti</h3>
<div class="panel panel-default">
	<div class="panel-body">
	   <button ng-click="loadacl()" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span> Aggiorna</button>
	</div>
</div>
<table class="arl-acl table table-hover" ng-show="acl.length">
	<thead>
		<tr>
			<th>oggetto</th>
			<th>sito</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in acl" ng-class="'arl-scheme-' + item.Projects[0].Color"> 
			<td>
				<h4><span class="glyphicon glyphicon-file"></span> <a href="http://{{ item.Projects[0].ProjectKey }}.ariel.ctu.unimi.it/v3/getThread.aspx?name={{ item.ToolName }}&messageId={{ item.MessageId }}">{{ item.Subject }}</a><h4>
				<p><small>
					<span class="glyphicon glyphicon-user"></span> <strong>{{ item.FirstName }} {{ item.LastName }}</strong> <span ng-show="item.AttachmentCount > 0"> / <span class="glyphicon glyphicon-paperclip"></span> {{ item.AttachmentCount }} attachment</span><br>
					<span class="glyphicon glyphicon-calendar"></span> data: <strong>{{ item.Date | date:'medium' }}</strong> <span ng-show="item.ModifyDate"> / <span class="glyphicon glyphicon-calendar"></span> ultima modifica: <strong>{{ item.ModifyDate | date:'medium' }}</strong></span><br>
					strumento: <strong><a href="http://{{ item.Projects[0].ProjectKey }}.ariel.ctu.unimi.it/v3/frm3/ThreadList.aspx?name={{ item.ToolName }}">{{ item.ForumTitle }}</a></strong> / ambiente: <strong><a href="http://{{ item.Projects[0].ProjectKey }}.ariel.ctu.unimi.it/v3/frm3/ThreadList.aspx?name={{ item.ToolName }}&roomid={{ item.RoomId }}">{{ item.RoomTitle }}</a></strong>
				</small></p>
			</td>
			<td>
				<ul class="arl-projects" style="padding: 0; margin: 0; list-style: none;">
					<li ng-repeat="p in item.Projects">
						<a href="http://{{ p.ProjectKey }}.ariel.ctu.unimi.it"><small> <span class="glyphicon glyphicon-heart"></span> {{ p.ProjectTitle }}</small></a>
					</li>

				</ul>
			</td>
		</tr>
	</tbody>
</table>
<div ng-hide="acl.length">
	<p><em>nessuna attivià dai siti preferiti</em></p>
	<h3>Istruzioni per l'uso</h3>
	<p>Per attivare questo elenco è necessario impostare i siti preferiti</p>
</div>
