<div ng-show="user">
	<h3>I miei siti preferiti</h3>
	<p>L'elenco mostra i siti preferiti</p>
	<p>Per aggiungere un preferito usa il comando "aggiungi preferito"</p>
	<div class="row" ng-cloak ng-show="favorites.length">
		<div class="col-sm-12 arl-favorite" ng-repeat="pw in favorites" ng-class="'arl-scheme-' + pw.ColorScheme">
			<div class="panel panel-default">
				<div class="panel-body">
					<!-- TITOLO -->
					<h4><span class="glyphicon glyphicon-asterisk"></span> {{ pw.Project.Name }}</h4>

					<div>
						<small>
							
							<strong>Docenti:</strong>
							<ul class="arl-teacher-list">
								<li ng-repeat="teacher in pw.Project.TeacherList">{{ teacher.FirstName }} {{ teacher.LastName }}</li>
							</ul>
							<p ng-show="pw.LastAccessDate">Ultima visita: {{ pw.LastAccessDate | date : 'd/MM/yyyy HH:mm' }}</p>
							<p ng-hide="pw.LastAccessDate">Non visitato</p>
						</small>
					</div>

					<p class="text-right">
						<button type="button" class="btn btn-primary btn-xs">Apri</button>
						<button type="button" class="btn btn-primary btn-xs" ng-click="opencolor($index)">Cambia colore</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="openconfirm($index)">Rimuovi</button>

					</p>
					<!-- EDITOR COLORI -->
					<div class="arl-inlinedialog arl-coloreditor" ng-show="editcolor==$index">
						<span>seleziona un colore:</span> 
						
						<ul>
							<li ng-repeat="color in colorSchemes" ng-class="'arl-scheme-' + color">
								<button type="button" class="btn btn-xs"  ng-click="changecolor(color,pw)">&nbsp;</button>
							</li>
							<li><button type="button" class="btn btn-danger btn-xs" ng-click="closecolor()">Annulla</button></li>
						</ul>
					</div>
					<!-- CONFIRM REMOVE -->
					<div class="arl-inlinedialog" ng-show="confirmindex==$index">
						<span>sei sicuro di voler rimuovere il sito dai preferiti?</span>
						<ul>
							<li><button class="btn btn-primary btn-xs" ng-click="toggleFavorite(pw)">Sì</button></li>
							<li><button class="btn btn-primary btn-xs" ng-click="closeconfirm()">No</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-cloak ng-hide="favorites.length">
		<p><em>Nessun sito preferito</em></p>
	</div>
</div>
<div ng-hide="user">
	<p>Questa pagina è disponibile solo dopo che hai eseguito l'autenticazione</p>
</div>