<div ng-show="user">
	<div class="panel panel-default">
		<div class="panel-body bg-info">
		   <h1 class="arl-title">I miei siti</h1>
		</div>
	</div>

	<div ng-repeat="header in result.SearchHeaderList">

		<!-- intestazione testuale -->
		<div ng-if="!header.Faculty" ng-class="'arl-level' + header.Level">
			<h3>
				{{ header.Title }}
			</h3>
			<p ng-show="header.Note">{{ header.Note }}</p>
		</div>

		<!-- Elenco progetti -->
		<ul class="list-group" ng-show="header.ProjectList">
			<li class="list-group-item arl-favorite {{ 'arl-scheme-' + pw.ColorScheme }}" ng-repeat="pw in header.ProjectList" ng-class="{ 'arl-owner': pw.IsOwner, 'arl-favorite': pw.IsFavorite }">

				<!-- Site description -->
				<div ng-include="'views/siteDescription.html'"></div>

				<!-- Site commands -->
				<div ng-include="'views/siteCommands.html'" class="text-right"></div>

				<!-- Site card -->
				<div class="arl-siteinfo arl-separator" ng-if="pw.Project.Id == projectCardId" ng-include="'views/card.html'"></div>

				<!-- EDITOR COLORI -->
				<div class="arl-inlinedialog arl-coloreditor" ng-show="header.Type == 5 && editcolor==$index">
					<span>seleziona un colore:</span> 
					
					<ul>
						<li ng-repeat="color in colorSchemes" ng-class="'arl-scheme-' + color">
							<button type="button" class="btn btn-xs"  ng-click="changecolor(color,pw)">&nbsp;</button>
						</li>
						<li><button type="button" class="btn btn-danger btn-xs" ng-click="closecolor()">Annulla</button></li>
					</ul>
				</div>

				<!-- CONFIRM REMOVE -->
				<div class="arl-inlinedialog" ng-show="header.Type == 5 && confirmindex==$index">
					<span>sei sicuro di voler rimuovere il sito dai preferiti?</span>
					<ul>
						<li><button class="btn btn-primary btn-xs" ng-click="toggleFavorite(pw)">Sì</button></li>
						<li><button class="btn btn-primary btn-xs" ng-click="closeconfirm()">No</button></li>
					</ul>
				</div>

			</li>
		</ul>

		<div ng-cloak ng-hide="header.ProjectList.length">
			<p><em>Nessun sito preferito</em></p>
		</div>
	</div>

</div>
<div ng-hide="user">
	<h1 class="arl-title"><span class="glyphicon glyphicon-ban-circle text-danger"></span> I miei siti</h1>
	<p>Questa pagina è disponibile solo dopo che hai eseguito l'autenticazione</p>
</div>