<div class="jumbotron">
  <h1>Portale Ariel</h1>
  <p class="lead">
    
    Fase sperimentale per mettere a punto i meccanismi.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Reload!<span class="glyphicon glyphicon-ok"></span></a></p>

</div>
<div class="row arl-home">
	<div class="col-lg-6">
		<h4>Head test 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis excepturi amet dolore, recusandae voluptatem itaque fuga quidem voluptatibus facilis.</p>
		<h4>Head test 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis excepturi amet dolore, recusandae voluptatem itaque fuga quidem voluptatibus facilis.</p>
		<h4>Head test 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis excepturi amet dolore, recusandae voluptatem itaque fuga quidem voluptatibus facilis.</p>
	</div>
	<div class="col-lg-6">
		<h4>Head test 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis excepturi amet dolore, recusandae voluptatem itaque fuga quidem voluptatibus facilis.</p>
		<h4>Head test 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis excepturi amet dolore, recusandae voluptatem itaque fuga quidem voluptatibus facilis.</p>
		<h4>Head test 1</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam perferendis excepturi amet dolore, recusandae voluptatem itaque fuga quidem voluptatibus facilis.</p>
	</div>
</div>