<div class="panel panel-info">

	<div class="panel-body bg-info">
		<h1 class="arl-title"><span class="glyphicon glyphicon-search"></span> Ricerca veloce siti</h1>
		<form role="form">
		
			<div class="form-group">
				<label for="keyword">Parola chiave</label>
				<input type="text" class="form-control" id="keyword" placeholder="Inserisci parola chiave" ng-change="updateRootScopeProp()" ng-model="globalVars.qsKeyword">
			</div>
		
			<button ng-click="quickSearch()" type="button" ng-disabled="!globalVars.qsKeyword" class="btn btn-primary">Cerca</button>
		</form>
	</div>
</div>
