<h3>Offerta didattica siti</h3>
<div class="panel panel-default" ng-show="isSearchForm">
	  <div class="panel-heading">
			<h3 class="panel-title">Ricerca avanzata</h3>
	  </div>
	  <div class="panel-body">
		<form role="form">
			<div class="form-group">
				<label for="faculty">Facoltà</label>
				<select id="faculty" class="form-control" ng-options="key as faculty.Description for (key, faculty) in faculties" ng-change="fillCdses()" ng-model="searchContext.FacultyKey">
					<option value="">-- selziona una facoltà --</option>
					
				</select>
				<div ng-show="cdses.length">
				<label for="cds">Corsi di Studio</label>
				<select id="cds" class="form-control" ng-options="cds.Key as cds.PrettyName for cds in cdses" ng-model="searchContext.CdsKey">
					<option value="">-- Tutti i corsi di studio --</option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label for="keyword">Parola chiave</label>
				<input type="text" id="keyword" class="form-control" ng-model="searchContext.Keyword">
			</div>
			<div class="form-group">
				<label for="teacher">Nome docente</label>
				<input type="text" id="teacher" class="form-control" ng-model="searchContext.Teacher">
			</div>
			<div class="form-group" ng-show="user">
				<label>Filtri</label>
				<div class="checkbox" ng-show="user.IsBaseStudent">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsCDSRuleComplying">
						CdS compatibili
					</label>
				</div>
				<div class="checkbox" ng-show="user.IsBaseStudent">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsW4Visible">
						W4 compatibili
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsEnrolled">
						Visitati
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsFavorite">
						Preferiti
					</label>
				</div>
				<div class="checkbox" ng-show="user.IsBaseStudent">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsInfaculty">
						Della facoltà
					</label>
				</div>
				<div class="checkbox" ng-show="user.IsOwner">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsOwner">
						Titolare
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="searchContext.SearchFlags.IsRuleComplying">
						Accessibili
					</label>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="search()">Cerca</button>
				<button class="btn btn-default" ng-click="reset()">Reset</button>
			</div>
		</form>
	  </div>
</div>
<div class="panel panel-info">
	<div class="panel-body bg-info">
		<p ng-bind-html="searchVerbose" ng-show="searchVerbose"></p>
		<p ng-bind-html="searchFilterVerbose" ng-show="searchFilterVerbose"></p>
		<p><kbd>Numero siti</kbd> <strong>{{ projectList.ProjectCount }}</strong></p>
		<p class="text-right" ng-hide="isSearchForm"><a href='' ng-click="isSearchForm = true">Apri ricerca avanzata</a></p>
		<p class="text-right" ng-show="isSearchForm"><a href='' ng-click="isSearchForm = false">Chiudi ricerca avanzata</a></p>
	</div>
</div>
<p ng-show="searchContext.SelectedFacultyKey != null"><a href="" ng-click="search()">Torna all'elenco delle facoltà</a></p>
<ul class="list-group">

	<li ng-show="projectList.FacultyList" class="list-group-item arl-faculty-{{ faculty.Key }}-brd-l" ng-repeat="faculty in projectList.FacultyList">
		<span class="badge">{{ faculty.ProjectCount }}</span>
		<h4>
			<a href="" ng-click="search(faculty.Key)">{{ faculty.Description }}</a>
		</h4>
	</li>

	<li ng-show="projectList.ProjectList" ng-repeat="project in projectList.ProjectList | limitTo: showCount" class="bg-danger list-group-item arl-project" ng-class="'arl-scheme-' + project.ColorScheme">	

		<h4><span ng-show="project.Project.IsPoolMaster" class="glyphicon glyphicon-star text-danger"></span> <span ng-bind-html="project.Project.Name" /></h4>

		<div>
			<small>
				<strong>Docenti:</strong>
				<ul class="arl-teacher-list">
					<li ng-repeat="teacher in project.Project.OwnerList">{{ teacher.FirstName }} {{ teacher.LastName }}</li>
				</ul>
			</small>
		</div>

		<div ng-hide="project.Project.IsPublic"><small class="text-danger bg-danger"><strong>Sito non pubblico</strong></small></div>
		<div ng-hide="project.IsRuleComplying"><small class="text-danger bg-danger"><strong>Sito non accessibile</strong></small></div>
		<div ng-show="project.LastAccessDate"><small>Ultima visita: {{ project.LastAccessDate | date : 'd/MM/yyyy HH:mm' }}</small> </div>
		<ul ng-show="isdebug">
			<li ng-repeat="attr in projectAttrs">
				{{ projectAttrs[$index] }}: <span ng-class="project[attr] ? 'bg-success' : 'bg-danger'">{{ project[attr] }}</span>
			</li>
		</ul>
		<div class="text-right">
			<button 
				ng-show="user && project.IsRuleComplying" 
				type="button" 
				class="btn btn-xs" 
				ng-class="project.IsFavorite ? 'btn-danger' : 'btn-default'"
				ng-click="toggleFavorite($index)"
				ng-bind-html="project.IsFavorite ? '<span class=\'glyphicon glyphicon-asterisk\'></span> Rimuovi dai preferiti' : '<span class=\'glyphicon glyphicon-plus-sign\'></span> Aggiungi ai preferiti'">
			</button> 
			<button ng-show="project.Project.IsPoolMaster" type="button" class="btn btn-primary btn-xs">Siti correlati</button>
			<button ng-click="getProject(project)" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-info-sign"></span> <span ng-show="project.Project.Id == projectCardId">Chiudi</span> Info</button>
		</div>

		<div class="arl-siteinfo" ng-if="project.Project.Id == projectCardId">
			<h4>Informazioni sito didattico</h4>

			<div ng-show="projectCard.Project.W4CourseList.length">
				<p><strong><span class="glyphicon glyphicon-pushpin"></span> Insegnamenti associati al sito</strong></p>

				<div class="arl-indent">
					<table class="table table-hover">
						<tbody>
							<tr ng-repeat="w4course in projectCard.Project.W4CourseList">
								<td>
									<span style="float:left;">{{ w4course.W4CodeDesc }}</span>
									<span style="float:right;" class="arl-facultycode" ng-class="'arl-faculty-' + w4course.W4Faculty">{{ w4course.W4Code }}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<p><strong><span class="glyphicon glyphicon-pushpin"></span> Regole di accesso al sito</strong></p>

			<div class="arl-indent">

				<p ng-if="projectCard.StudentAccessAllowed">È consentito l'accesso in modalità <strong>studente</strong> / <a style="cursor: pointer;" ng-click="$parent.showStudRules = !$parent.showStudRules">vedi CdS abilitati e regole di accesso</a></p>

				<table ng-show="showStudRules" class="table table-striped table-hover">
					<tbody>
						<tr ng-repeat="accessRule in projectCard.Project.AccessRuleList" ng-show="accessRule.ArielRoleString == 'User'">
							<td>
								<div ng-if="accessRule.CdS">
									<span style="float:left;">{{ accessRule.CdS.CourseName }}</span>
									<span style="float:right;">
										<span ng-if="accessRule.LocationKey" title="accesso consentito per linea/polo">linea/polo: {{ accessRule.LocationName }}</span>
										<span ng-if="accessRule.LastnameRange" title="accesso consentito per iniziale del cognome">cognome: {{ accessRule.LastnameRange }}</span>
										<span ng-if="accessRule.CourseYear" title="accesso consentito per anno di corso">anno di corso: {{ accessRule.CourseYear }}</span>
										<span ng-if="accessRule.LastRegistrationYear" title="accesso consentito in base all'ultimo anno accademico di iscrizione">ultimo anno di iscrizione: {{ accessRule.LastRegistrationYear }}</span>
										<span ng-if="accessRule.UserUnimiTypeString != 'Undefined'" title="accesso consentito per categoria utente">categoria utente: {{ accessRule.UserUnimiTypeString }}</span>
										<span class="arl-facultycode" title="{{ accessRule.CdS.CourseName }}" ng-class="'arl-faculty-' + accessRule.CdS.FacultyKey">{{ accessRule.CdS.Key }}</span>
									</span>
								</div>
								<div ng-if="!accessRule.CdS && accessRule.isUnimiUsersRule">
									<span style="float:left;">Accesso consentito a <em>tutti gli utenti Unimi</em></span>
									<span style="float:right;">
										<span ng-if="accessRule.LocationKey" title="accesso consentito per linea/polo">linea/polo: {{ accessRule.LocationName }}</span>
										<span ng-if="accessRule.LastnameRange" title="accesso consentito per iniziale del cognome">cognome: {{ accessRule.LastnameRange }}</span>
										<span ng-if="accessRule.CourseYear" title="accesso consentito per anno di corso">anno di corso: {{ accessRule.CourseYear }}</span>
										<span ng-if="accessRule.LastRegistrationYear" title="accesso consentito in base all'ultimo anno accademico di iscrizione">ultimo anno di iscrizione: {{ accessRule.LastRegistrationYear }}</span>
										<span ng-if="accessRule.UserUnimiTypeString != 'Undefined'" title="accesso consentito per categoria utente">categoria utente: {{ accessRule.UserUnimiTypeString }}</span>
									</span>
								</div>
								<div ng-if="!accessRule.CdS && accessRule.isAllUsersRule">
									<span style="float:left;">Accesso consentito a <em>tutti gli utenti Unimi e autoregistrati Ariel</em></span>
									<span style="float:right;">
										<span ng-if="accessRule.LastnameRange" title="accesso consentito per iniziale del cognome">cognome: {{ accessRule.LastnameRange }}</span>
									</span>
								</div>
							</td>
						</tr>
						<tr ng-repeat="faculty in projectCard.erasmusFacList">
							<td><span class="glyphicon glyphicon-globe"></span> Erasmus facoltà {{ faculties[faculty].Description }}</td>
						</tr>
					</tbody>
				</table>

				<p ng-if="projectCard.GuestAccessAllowed">È consentito l'accesso in modalità <strong>ospite</strong> / <a style="cursor: pointer;" ng-click="$parent.showGuestRules = !$parent.showGuestRules">vedi CdS abilitati e regole di accesso</a></p>

				<table class="table table-striped table-hover" ng-show="showGuestRules">
					<tbody>
						<tr ng-repeat="accessRule in projectCard.Project.AccessRuleList" ng-show="accessRule.ArielRoleString == 'Guest'">
							<td>
								<div ng-if="accessRule.CdS">
									<span style="float:left;">{{ accessRule.CdS.CourseName }}</span>
									<span style="float:right;">
										<span title="{{ accessRule.CdS.CourseName }}">{{ accessRule.CdS.Key }}</span>
										<span ng-if="accessRule.LocationKey" title="accesso consentito per linea/polo">linea/polo: {{ accessRule.LocationName }}</span>
										<span ng-if="accessRule.LastnameRange" title="accesso consentito per iniziale del cognome">cognome: {{ accessRule.LastnameRange }}</span>
										<span ng-if="accessRule.CourseYear" title="accesso consentito per anno di corso">anno di corso: {{ accessRule.CourseYear }}</span>
										<span ng-if="accessRule.LastRegistrationYear" title="accesso consentito in base all'ultimo anno accademico di iscrizione">ultimo anno di iscrizione: {{ accessRule.LastRegistrationYear }}</span>
										<span ng-if="accessRule.UserUnimiTypeString != 'Undefined'" title="accesso consentito per categoria utente">categoria utente: {{ accessRule.UserUnimiTypeString }}</span>
									</span>
								</div>
								<div ng-if="!accessRule.CdS && accessRule.isUnimiUsersRule">
									<span>Accesso consentito a <em>tutti gli utenti Unimi</em></span>
									<span>
										<span ng-if="accessRule.LocationKey" title="accesso consentito per linea/polo">linea/polo: {{ accessRule.LocationName }}</span>
										<span ng-if="accessRule.LastnameRange" title="accesso consentito per iniziale del cognome">cognome: {{ accessRule.LastnameRange }}</span>
										<span ng-if="accessRule.CourseYear" title="accesso consentito per anno di corso">anno di corso: {{ accessRule.CourseYear }}</span>
										<span ng-if="accessRule.LastRegistrationYear" title="accesso consentito in base all'ultimo anno accademico di iscrizione">ultimo anno di iscrizione: {{ accessRule.LastRegistrationYear }}</span>
										<span ng-if="accessRule.UserUnimiTypeString != 'Undefined'" title="accesso consentito per categoria utente">categoria utente: {{ accessRule.UserUnimiTypeString }}</span>
									</span>
								</div>
								<div ng-if="!accessRule.CdS && accessRule.isAllUsersRule">
									<span style="float:left;">Accesso consentito a <em>tutti gli utenti Unimi e autoregistrati Ariel</em></span>
									<span style="float:right;">
										<span ng-if="accessRule.LastnameRange" title="accesso consentito per iniziale del cognome">cognome: {{ accessRule.LastnameRange }}</span>
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>


				<p ng-if="projectCard.StudentAccessAllowed && !projectCard.GuestAccessAllowed">Non è consentito l'accesso in modalità <em>ospite</em></p>

				<p ng-if="!projectCard.StudentAccessAllowed && !projectCard.GuestAccessAllowed">Per accedere al sito è necessario contattare il docente</p>
			</div>
		</div>

	</li>

	<li ng-show="projectList.ProjectCount == 0" class="list-group-item">
		<em>Nessun sito trovato</em>
	</li>

</ul>
<p ng-show="projectList.ProjectList.length > showCount"><a href="" ng-click="showMore()">Visualizza altri siti... (mancano all'elenco {{ projectList.ProjectList.length - showCount }} siti)</a></p>
