<div class="panel panel-info">

	<div class="panel-body bg-info">
		
		<h1 class="arl-title">Offerta didattica</h1>

		<p style="float: left; padding-right: 10px;"><kbd>Numero siti</kbd> <strong>{{ result.ProjectCount }}</strong></p>
		<p style="float: left; padding-right: 10px;" ng-bind-html="searchVerbose" ng-show="searchVerbose"></p>
		<p style="float: left; padding-right: 10px;" ng-bind-html="searchFilterVerbose" ng-show="searchFilterVerbose"></p>
		<p style="float: right; padding-left: 10px;" ng-hide="isSearchForm">
			<button class="btn btn-primary btn-xs" ng-click="isSearchForm = true">
				<span class="glyphicon glyphicon-search"></span> 
				Apri ricerca avanzata
			</button>
			<button ng-show="isFilter" class="btn btn-primary btn-xs" ng-click="resetSearch()"><span class="glyphicon glyphicon-remove"></span> Elimina filtro</button>
			<button ng-show="user.IsBaseStudent" class="btn btn-primary btn-xs" ng-click="getW4()"> Siti W4</button>

		</p>
		<p style="float: right; padding-left: 10px;" ng-show="isSearchForm">
			<button class="btn btn-danger btn-xs" ng-click="isSearchForm = false">
				<span class="glyphicon glyphicon-search"></span> 
				Chiudi ricerca avanzata
			</button>
		</p>

		<!-- form ricerca avanzata -->
		<form class="arl-separated" style="clear: both;" role="form" ng-show="isSearchForm">
			<h3>Ricerca avanzata</h3>
			<div class="form-group">
				<label for="faculty">Facoltà</label>
				<select id="faculty" class="form-control" ng-options="fac.Key as fac.Description for fac in faculties" ng-model="searchContext.searchParams.FacultyKey" ng-change="fillCdses();">
					<option value="">-- seleziona una facoltà --</option>
					
				</select>
			</div>
			<div ng-show="cdses.length">
				<label for="cds">Corsi di Studio</label>
				<select id="cds" class="form-control" ng-options="cds.Key as cds.PrettyName for cds in cdses" ng-model="searchContext.searchParams.CdsKey">
					<option value="">-- Tutti i corsi di studio --</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-6 form-group">
					<label for="keyword">Parola chiave</label>
					<input type="text" id="keyword" class="form-control" ng-model="searchContext.searchParams.Keyword">
				</div>
				<div class="col-md-6 form-group">
					<label for="teacher">Nome docente</label>
					<input type="text" id="teacher" class="form-control" ng-model="searchContext.searchParams.Teacher">
				</div>
			</div>
			<div class="form-group" ng-show="user">
				<strong style="padding-right: 10px;">Filtri</strong>
				<!-- <label class="checkbox-inline" ng-show="user.IsBaseStudent">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsCDSRuleComplying">
					CdS compatibili
				</label> -->
				<label class="checkbox-inline" ng-show="user.IsBaseStudent">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsW4Visible">
					W4 compatibili
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsEnrolled">
					Visitati
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsFavorite">
					Preferiti
				</label>
				<!-- <label class="checkbox-inline" ng-show="user.IsBaseStudent">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsInfaculty">
					Della facoltà
				</label> -->
				<label class="checkbox-inline" ng-show="user.IsOwner">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsOwner">
					Titolare
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="searchContext.searchParams.SearchFlags.IsRuleComplying">
					Accessibili
				</label>
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="search(searchContext.SelectedFacultyKey)">Cerca</button>
				<button class="btn btn-default" ng-click="reset()">Reset</button>
			</div>
		</form>
	</div>

</div>


<p style="float: right" ng-show="isBack"><a href="" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span> Torna all'elenco precedente</a></p>
<p style="float: right" ng-show="!isBack && isFilter"><a href="" ng-click="resetSearch()"><span class="glyphicon glyphicon-arrow-left"></span> Torna all'elenco generale</a></p>

<div ng-repeat="header in result.SearchHeaderList">
	
	<!-- intestazione di facoltà -->
	<div ng-if="header.Faculty" ng-class="'arl-level' + header.Level">
		<h3><small class="arl-cell"><span class="arl-dot glyphicon glyphicon-asterisk" ng-class="'arl-faculty-' + header.Faculty.Key"></span></small> <span class="arl-cell"><a href="" ng-click="search(header.Faculty.Key)">{{ header.Faculty.Description }}</a> <small style="white-space: nowrap;">({{ header.Faculty.ProjectCount == 1 ? 'un sito' : header.Faculty.ProjectCount + ' siti'}})</small></span></h3>
	</div>

	<!-- intestazione testuale -->
	<div ng-if="!header.Faculty" ng-class="'arl-level' + header.Level" ng-switch="header.Title">
		<p ng-switch-when="404">
			<em>nessun sito didattico trovato</em>
		</p>
		<h3 ng-switch-default>
			{{ header.Title }}
		</h3>
		<p ng-show="header.Note">{{ header.Note }}</p>
	</div>
	
	<!-- Elenco progetti -->
	<ul class="list-group" ng-show="header.ProjectList">
		<li  class="list-group-item arl-favorite {{ 'arl-scheme-' + pw.ColorScheme }}" ng-repeat="pw in header.ProjectList | limitTo: showCount" ng-class="{ 'arl-owner': pw.IsOwner }">

			<!-- Site description -->
			<div ng-include="'views/siteDescription.html'"></div>

			<!-- Site commands -->
			<div ng-include="'views/siteCommands.html'" class="text-right"></div>

			<!-- Site card -->
			<div class="arl-siteinfo arl-separator" ng-if="pw.Project.Id == projectCardId" ng-include="'views/card.html'"></div>

			<!-- CONFIRM REMOVE -->
			<div class="arl-inlinedialog" ng-show="confirmindex==$index">
				<span ng-show="pw.IsFavorite">sei sicuro di voler rimuovere il sito dai preferiti?</span>
				<span ng-hide="pw.IsFavorite">sei sicuro di voler aggiungere il sito ai preferiti?</span>
				<ul>
					<li><button class="btn btn-primary btn-xs" ng-click="toggleFavorite(pw)">Sì</button></li>
					<li><button class="btn btn-primary btn-xs" ng-click="closeconfirm()">No</button></li>
				</ul>
			</div>

		</li>
	</ul>

	<p ng-show="header.ProjectList.length > showCount"><a href="" ng-click="showMore()">Visualizza altri siti... (mancano all'elenco {{ header.ProjectList.length - showCount }} siti)</a></p>

</div>




