<h4>
	<small class="arl-cell" ng-show="pw.Project.IsMoodle"><span class="text-danger arl-square" title="Piattaforma Moodle">M</span></small>
	<small class="arl-cell" ng-show="pw.Project.IsPoolMaster"><span class="glyphicon glyphicon-fullscreen text-danger arl-square"></span></small>
	<small class="arl-cell" ng-repeat="f in pw.Project.FacultyList"><span class="glyphicon glyphicon-asterisk arl-dot" ng-class="'arl-faculty-'+f.Key" title="{{ f.Description }}"></span></small>
	<a class="arl-cell" href="http://{{pw.Project.Url}}.ariel.ctu.unimi.it"><span ng-bind-html="pw.Project.Name" /></a>
</h4>

<div ng-show="pw.Project.OwnerList.length">
	<small>
		<strong>
			{{pw.Project.ProjectTypeString == "Default" || pw.Project.ProjectTypeString == "Other" ? 'Docent' : 'Coordinator'}}{{pw.Project.OwnerList.length == 1 ? "e" : "i"}}:
		</strong>
		<ul class="arl-teacher-list">
			<li ng-repeat="teacher in pw.Project.OwnerList">{{ teacher.FirstName }} {{ teacher.LastName }}</li>
		</ul>
	</small>
</div>

<div ng-hide="pw.Project.IsPublic">
	<small class="text-danger bg-danger"><strong>Sito non pubblico</strong></small>
</div>
<div ng-hide="pw.IsRuleComplying">
	<small class="text-danger bg-danger"><strong>Sito non accessibile</strong></small>
</div>
<div ng-show="pw.LastAccessDate">
	<small>Ultima visita: {{ pw.LastAccessDate | date : 'd/MM/yyyy HH:mm' }}</small> 
</div>
<div ng-show="pw.IsFavorite && !pw.LastAccessDate">
	<small><span class="glyphicon glyphicon-warning-sign text-danger"></span> Le attività di questo siti non saranno visibili nel portale fino al primo accesso</small> 
</div>

<ul ng-show="isdebug">
	<li ng-repeat="attr in projectAttrs">
		{{ projectAttrs[$index] }}: <span ng-class="pw[attr] ? 'bg-success' : 'bg-danger'">{{ pw[attr] }}</span>
	</li>
</ul>
			